.es-box-custom{
        	background: white;
        }
        .training a{
            margin-bottom: 40px;
          }
          .training a:hover{
            text-decoration: none;
          }
          .training a:hover > div{
            background: red;
            color: #fff!important;
            transition: all ease-in-out .3s;
            -webkit-box-shadow: 2px 2px 15px 2px #b9b6b69e;
            box-shadow: 2px 2px 15px 2px #b9b6b69e;
          }
          .training a>div{
            font-weight: bold;
            border-color: #000 !important;
            border-radius: 7px;
            background-color: transparent;
            min-height: 168px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            text-transform: uppercase;
            font-size: 20px;
            -webkit-transition: all .3s;
            -o-transition: all .3s;
            transition: all .3s;
            -webkit-box-shadow: 2px 2px 15px 2px #b9b6b69e;
            box-shadow: 2px 2px 15px 2px #b9b6b69e;
            background-color: #fff;
          }

          .ribbon{
				color: #fff;
				margin-top: 35px;
				position: relative;
				text-transform: uppercase;
				background: #3498db;
				border: 1px solid rgba(0,0,0,.3);
				box-shadow: 0px 1px 3px rgba(0,0,0,.2);
				padding: 10px 265px 10px 15px;
				clear: both;
			}
			 
			div.left_ribbon{
				margin-left: -10px;
				float: left;
			}
			 
			div.left_ribbon h2{
				margin: 0 12px;
			}
			 
			div.left_ribbon::before{
				display: block;
				width: 10px;
				height: 0px;
				position: absolute;
				bottom: -10px;
				left: 0px;
				content: "";
				border-bottom: 10px solid transparent;
				border-right: 10px solid #3498db;
			}
			 
			div.left_ribbon::after{
				display: block;
				width: 6px;
				height: 44px;
				position: absolute;
				bottom: 3px;
				right: -1px;
				content: "";
				border: 1px solid rgba(0,0,0,.3);
				transform: skew(0deg,45deg);
				-ms-transform: skew(0deg,45deg); /* IE 9 */
				-webkit-transform: skew(0deg,45deg); /* Safari and Chrome */
				-o-transform: skew(0deg,45deg); /* Opera */
				-moz-transform: skew(0deg,45deg); /* Firefox */
				background: #3498db;
			}

            div.right_ribbon{
                float: right;
                padding-left: 250px;
                position: relative;
                top: -35px;
                font-size: 16px;
                color: #fff;
                margin-right: 15px;
                font-weight: bold;
            }
            
             
           /* div.left_ribbon::before{
                display: block;
                width: 10px;
                height: 0px;
                position: absolute;
                bottom: -10px;
                left: 0px;
                content: "";
                border-bottom: 10px solid transparent;
                border-right: 10px solid #3498db;
            }
             
            div.left_ribbon::after{
                display: block;
                width: 6px;
                height: 44px;
                position: absolute;
                bottom: 3px;
                right: -1px;
                content: "";
                border: 1px solid rgba(0,0,0,.3);
                transform: skew(0deg,45deg);
                -ms-transform: skew(0deg,45deg); /* IE 9 */
                -webkit-transform: skew(0deg,45deg); /* Safari and Chrome */
                -o-transform: skew(0deg,45deg); /* Opera */
                -moz-transform: skew(0deg,45deg); /* Firefox */
                background: #3498db;
            }*/

            .progress{
                height: 25px;
            }

            div.red_ribbon::before {
                border-right: 10px solid red;
            }

            div.red_ribbon::after {
                background: red;
            }

            @keyframes img-rung {
          0% {
            transform: rotate(0deg) scale(1.05) skew(1deg);
          }
          10% {
            transform: rotate(-25deg) scale(1.05) skew(1deg);
          }
          20% {
            transform: rotate(25deg) scale(1.05) skew(1deg);
          }
          30% {
            transform: rotate(-25deg) scale(1.05) skew(1deg);
          }
          40% {
            transform: rotate(25deg) scale(1.05) skew(1deg);
          }
          50% {
            transform: rotate(0deg) scale(1.05) skew(1deg);
          }
          100% {
            transform: rotate(0deg) scale(1.05) skew(1deg);
          }
        }
        .box_item .alert {
            color: #000 !important;
            background-color: white;
        }

        .alert-danger {
            background-color: white;
            border: 2px grey;
            box-shadow: 0px 0px 20px grey;
        }

        .card1_h {
            border-radius: 0;
            border-color: #fff;
            background-color: grey;
            height: calc(100% - 107px);
        }

       
       

        .list_message_news_title li {
            list-style: none;
            float: left;
            margin-right: 10px;
        }
        .btn_search {
            background: #5db85c;
            font-weight: bold;
            /*color: #fff;*/
        }
        .info-value {
            font-size: 20px;
        }

        .uk-card img {
            max-height: 300px;
            width: 100% !important;
            object-fit: cover;
        }
        .card.card-default.card1_h {
            padding: 15px 
        }

        .title_h {
            font-size: 1.25rem;
            color: #fff;
            margin-bottom: 20px;
            font-weight: bold;
            background: #FF6500;
            padding: 5px 0px;
        }

        .row .item.item-1 {
            background: #c3362b;
        }

        .row .item {
            padding: 2px;
            transition: all 0.3s ease-in-out;
            margin-bottom: 30px;
            cursor: pointer;
        }

        .row .item.item-1 .img-box {
            border: 1px solid #e19b95;
        }
        .row .item .img-box.no-border {
            border: none!important;
        }
        .row .item .img-box {
            position: relative;
            text-align: center;
            padding: 5px 0px;
            z-index: 0;
        }

        .row .item .img-box img {
            position: relative;
            z-index: 0;
        }

        .row .item .img-box p {
            margin: 10px 0 0;
            color: #fff;
            text-transform: uppercase;
            font-family: Roboto Condensed;
        }

        .row .item {
            padding: 10px;
            transition: all 0.3s ease-in-out;
            margin-bottom: 30px;
            cursor: pointer;
        }
        .row .item.opacity {
            opacity: 0.6;
        }
        .row .item:hover {
            transform: scale(1.05);
        }
        .row .item:hover .imgrung {
            animation: 1s ease-in-out 0s normal none infinite running img-rung;
            font-size: 30px;
            line-height: 50px;
            padding-left: 10px;
            color: #ffffff;
        }
        .row .item:hover .img-box {
            background-color: red;
        }

        .row .item .img-box a:hover h2 {
            color: #fff !important;
        }

        .row .item .img-box a:hover h2 i {
            color: #fff !important;
        }

        .row .item .img-box a:hover p {
            color: #fff !important;
            border-bottom: 1px solid #fff !important;
        }

        .row .item .img-box a:hover .sub_item b{
           
             color: #fff !important;
        }

        .row .item .img-box a:hover .sub_item span{
           
            color: #fff !important;
        }

        .row .item.item-2 {
            background: #ba184f;
        }
        .row .item.item-2 .img-box {
            border: 1px solid #e19b95;
        }
        .row .item.item-3 {
            background: #7d1f8d;
        }
        .row .item.item-3 .img-box {
            border: 1px solid #8d3a9b;
        }
        .row .item.item-4 {
            background: #324191;
        }
        .row .item.item-4 .img-box {
            border: 1px solid #5b67a7;
        }
        .row .item.item-5 {
            background: #1a78c2;
        }
        .row .item.item-5 .img-box {
            border: 1px solid #4893ce;
        }
        .row .item.item-6 {
            background: #0096aa;
        }
        .row .item.item-6 .img-box {
            border: 1px solid #30aaba;
        }

        .row .item.item-11 {
            background: green;
        }
        .row .item.item-11 .img-box {
            border: 1px solid #459564;
        }

        .row .item.item-8 {
            background: grey;
        }
        .row .item.item-8 .img-box {
            border: 1px solid #8d3a9b;
        }

        .row .item.item-9 {
            background: #ccca00;
        }
        .row .item.item-9 .img-box {
            border: 1px solid #d6d533;
        }



        a:hover, a:focus, a:active {
            text-decoration: none;
        }

        #root {
            height: auto;
        }

        .row.m-row--no-padding {
            margin-left: 0;
            margin-right: 0;
        }

        .align-items-center {
            -webkit-box-align: center !important;
            -ms-flex-align: center !important;
            align-items: center !important;
        }

        .es-box-custom {
            box-shadow: 0 1px 15px 1px rgba(69,65,78,.08);
            border: 1px solid #bdbec0;
            margin: 5px !important;
            padding: 5px !important;
            text-align: center !important;
        }
        .col {
            -ms-flex-preferred-size: 0;
            flex-basis: 0;
            -webkit-box-flex: 1;
            -ms-flex-positive: 1;
            flex-grow: 1;
            max-width: 100%;
        }

        .m-widget1__item .m-widget1__title {
            color: #3f4047;
        }

        /*.es-m--font-danger {
            color: #E42936 !important;
        }*/

        .es-m-widget1 {
            font-size: 2rem !important;
            font-weight: 800 !important;
        }

        .es-m-widget1 {
            padding: 0px !important;
        }

        .es-m--space-10 {
            margin-bottom: 0px !important;
        }

        .m--space-10 {
            display: block;
            height: 0;
            margin-bottom: 10px;
        }

        .h3, h3 {
            font-size: 1.75rem;
        }
        .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
            margin-bottom: .5rem;
            font-family: inherit;
            font-weight: 500;
            line-height: 1.2;
            color: inherit;
        }
        h1, h2, h3, h4, h5, h6 {
            margin-top: 0;
            margin-bottom: .5rem;
        }

        .row .item.item-10 {
            background: #cc461b;
        }

        .row .item.item-7 {
            background: #2b864e;
        }

        .bread-page {
            /*background: #fff;*/
            height: 40px;
            line-height: 40px;
            padding: 0 20px;
           /* background-image: url(../images/bg-gach.png);
            background-repeat-x: repeat;*/
            margin-bottom: 0px;
        }

        .bread-page ul {
            list-style: none;
            float: left;
            padding: 0px;
        }

        .bread-page ul li {
            float: left;
            color: #666;
            margin-right: 20px;
            position: relative;
        }

        .bread-page ul li a {
            color: #fff;
            font-size: 18px;
            font-weight: bold;
            vertical-align: middle;
        }

        .bread-page ul li:not(:last-child)::after {
            content: ">";
            position: absolute;
            right: -13px;
            top: 2px;
            height: 40px;
            line-height: 40px;
            color: #fff;
        }

        .bread-page ul li::after {
            content: ">";
            font-family: "FontAwesome";
            position: absolute;
            right: -13px;
            top: 2px;
            height: 40px;
            line-height: 40px;
            color: #000;
        }
        .bread-page ul li::after {
            content: ">";
            position: absolute;
            right: -13px;
            top: 2px;
            height: 40px;
            line-height: 40px;
            color: #000;
        }

        .bread-page ul li:last-child:after{
            display: none;
        }

        .navfix {
            color: #fff;
            margin-bottom: 10px;
            font-weight: bold;
            background: #FF6500;
            padding: 0px 0px 5px;
           
        }

        .slider_number{
            margin-bottom: -50px;
        }
        .sub_item{
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flex;
            display: -o-flex;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .sub_item b{
            flex: 50%;
            
            font-weight: bold;
            color: #80007a;
        }
        .sub_item span{
            
            flex: 60%;
            font-size: 40px !important;
            text-decoration: none;
        }

        .media .date {
            background: #ccc;
            width: 83px;
            margin-right: 10px;
            border-radius: 10px;
            padding: 5px;
        }

        .title {
            text-transform: uppercase;
        }

        @media (min-width: 576px) {
            .col-sm-2 {
                -webkit-box-flex: 0;
                -ms-flex: 0 0 20%;
                flex: 0 0 20%;
                max-width: 20%;
            }
        }

        .progressbar {
            width: 100%;
            position: relative;
            background-color: #EEEEEE;
            box-shadow: inset 0px 1px 1px rgba(0,0,0,.1);
        }

        .proggress{
            height: 8px;
            width: 10px;
            background-color: #3498db;
        }

        .percentCount{
            float:right;
            margin-top: 10px;
            clear: both;
            font-weight: bold;
            font-family: Arial
        }

        .modal {
          display: none;
          vertical-align: middle;
          position: relative;
          z-index: 6;
          max-width: 400px !important;
          box-sizing: border-box;
          width: 100%;
          background: #fff;
          padding: 0 !important;
          border-radius: 0 !important;
          -webkit-box-shadow: 0 0 10px #000;
          -moz-box-shadow: 0 0 10px #000;
          -o-box-shadow: 0 0 10px #000;
          -ms-box-shadow: 0 0 10px #000;
          box-shadow: 0 0 10px #000;
          text-align: left;
        }
      .card-container.card {
        padding: 40px 40px;
      }

      .btn {
          font-weight: 700;
          height: 36px;
          -moz-user-select: none;
          -webkit-user-select: none;
          user-select: none;
          cursor: default;
      }

      .card {
          background-color: #F7F7F7;
          /*padding: 20px 25px 30px;*/
          -moz-border-radius: 2px;
          -webkit-border-radius: 2px;
          border-radius: 2px;
          -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
          -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
      }
      .card-body {
        background: #fff;
      }
      .card-header {
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #212529;
        text-align: left;
      }
      .profile-img-card {
          width: 96px;
          height: 96px;
          margin: 0 auto 10px;
          display: block;
          -moz-border-radius: 50%;
          -webkit-border-radius: 50%;
          border-radius: 50%;
      }

    .profile-name-card {
        font-size: 16px;
        font-weight: bold;
        text-align: center;
        margin: 10px 0 0;
        min-height: 1em;
    }

    .reauth-email {
        display: block;
        color: #404040;
        line-height: 2;
        margin-bottom: 10px;
        font-size: 14px;
        text-align: center;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

    .form-signin #inputEmail,
    .form-signin #inputPassword {
        direction: ltr;
        height: 44px;
        font-size: 16px;
    }

    .form-signin input[type=email],
    .form-signin input[type=password],
    .form-signin input[type=text],
    .form-signin button {
        width: 100%;
        display: block;
        margin-bottom: 10px;
        z-index: 1;
        position: relative;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

    .form-signin .form-control:focus {
        border-color: rgb(104, 145, 162);
        outline: 0;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
    }

    .btn.btn-signin {
        background-color: rgb(104, 145, 162);
        padding: 0px;
        font-weight: 700;
        font-size: 14px;
        height: 36px;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        border-radius: 3px;
        border: none;
        -o-transition: all 0.218s;
        -moz-transition: all 0.218s;
        -webkit-transition: all 0.218s;
        transition: all 0.218s;
    }

    .btn.btn-signin:hover,
    .btn.btn-signin:active,
    .btn.btn-signin:focus {
      background-color: rgb(175, 84, 5);
    }

    .forgot-password {
      color: rgb(104, 145, 162);
    }

    .forgot-password:hover,
    .forgot-password:active,
    .forgot-password:focus{
        color: rgb(12, 97, 33);
    }

    .modal a.close-modal {
        top: 5px !important;
        right: 5px !important;
    }


    .name-item-custormer {
        display: flex;
        background: #229cff;
        color: #fff;
        text-align: center;
        margin: auto;
        justify-content: center;
        align-items: center;
        padding: 10px 0;
        font-size: 16px;
    }
    .img-name-customer {
        font-size: 40px;
        margin-right: 10px;
    }

    .blocker {
        z-index: 6 !important;
    }

    .row .item .img-box a:hover .sub_item p{
       border-bottom-color: transparent !important;
    }

    .uk-margin {
        margin-bottom: 20px;
    }
    .list_nql1 .list-group-item {
        border: none;
        padding-left: 0;
        padding-right: 0;
    }
    .list_nql1 .list-group-item h3 {
        font-size: 14px;
    }
    .x_content, table.tile td ul li a, table.tile_info {
        width: 100%;
    }
    .x_content {
        padding: 0 5px 6px;
        float: left;
        clear: both;
        margin-top: 5px;
    }
    .scroll-listbox {
        height: 897px;
        overflow-y: scroll;
    }
    .media-left, .media>.pull-left {
        padding-right: 10px;
    }
    @keyframes img-rung {
                      0% {
                        transform: rotate(0deg) scale(1.05) skew(1deg);
                      }
                      10% {
                        transform: rotate(-25deg) scale(1.05) skew(1deg);
                      }
                      20% {
                        transform: rotate(25deg) scale(1.05) skew(1deg);
                      }
                      30% {
                        transform: rotate(-25deg) scale(1.05) skew(1deg);
                      }
                      40% {
                        transform: rotate(25deg) scale(1.05) skew(1deg);
                      }
                      50% {
                        transform: rotate(0deg) scale(1.05) skew(1deg);
                      }
                      100% {
                        transform: rotate(0deg) scale(1.05) skew(1deg);
                      }
                    }
                    .content .tile-stats:hover img{
                        animation: 1s ease-in-out 0s normal none infinite running img-rung;
                        font-size: 30px;
                        line-height: 50px;
                        padding-left: 10px;
                        color: #ffffff;
                    }
                  .es-box-custom{
                    min-height: 130px;
                  }
                  .tile-stats {
                    padding: 10px;
                  }
                .footer-icon {
                    position: fixed;
                    bottom: 20px;
                    right: 20px;
                }
                #back {
                    z-index: 99;
                    font-size: 18px;
                    border: none;
                    outline: none;
                    background-color: lightgray;
                    color: white;
                    cursor: pointer;
                    padding: 12px;
                    border-radius: 4px;
                }
                #home {
                    z-index: 99;
                    font-size: 18px;
                    border: none;
                    outline: none;
                    background-color: lightgray;
                    color: white;
                    cursor: pointer;
                    padding: 12px;
                    border-radius: 4px;
                }