body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-size: 14px;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

a {
  color: #000;
  font-size: 14px; }

a:hover {
  color: #000;
  text-decoration: none; }

.title-box-ch{
	width: 100%;
	h4{
		margin: 0;
    padding: 0;
    width: 100%;
    background: #af5405;
    color: #fff;
    font-size: 20px;
    padding: 10px;
	}
}
.img-box-content-ch{
	img{
		 height: calc(100vh - 60px - 130px);
		 width: 100% !important;
			object-fit: cover;
	}
}
.menu-box-bottom{
	width: 100%;
	.menu-item{
		display: inline-block;
    width: 18%;
    float: left;
    background: #6699ff;
    text-align: center;
    padding: 10px;
		.img-menu-item{
			img{
				    height: 82px;
				    margin-bottom: 12px;
				    width: auto;
			}
		}
		h4{
				a{
			    display: block;
			    font-size: 17px;
			    color: #fff;
			    text-transform: uppercase;
			    text-overflow: ellipsis;
			    overflow: hidden;
			    white-space: nowrap;
				}
		}
	}

}

.menu-box-bottom .menu-item:nth-child(2){
	background: #ffcc33
}
.menu-box-bottom .menu-item:nth-child(3){
	background: #cc66ff
}
.menu-box-bottom .menu-item:nth-child(4){
	background: #33ad85
}
.menu-box-bottom .menu-item:nth-child(5){
	background: #d65c5c
}
.menu-box-bottom .menu-item:nth-child(6){
	background: #426ab9
}
.menu-box-bottom .menu-item:hover{
	    background: #557cca;
    transition: all 0.5s;
}

.title-box-item-ch{
	h4{
		font-size: 30px
	}
}

a.img-item-ser img {
    width: 100%;
    transition-duration: 0.3s;
}
.img-item-ser:hover img{
	transform: translateY(-10px);
}
.img-item-ser{

}
.service-hot .col-md-3{
	margin-bottom: 30px
}

.tuyenqts .bg_fff{
 background: #fff;
 border: 1px solid #e4e4e4;
 height: 130px;
 overflow-x: hidden;
 }
 .tuyenqts .group_box_2{
 position: relative;
 padding: 10px 0px 5px 5px ;
 }
 .tuyenqts .group_box_2 p{
 margin-bottom: 2px;
 }
 .tuyenqts .group_box_2 .text_1{
 text-align: center;
 font-size: 0.8vw;
 font-weight: bold;
 height: 30px;
 overflow: hidden;
 margin-bottom: 6px;
 color: #989898
 }
 .tuyenqts .group_box_2 .text_1 i{
 color: #6dd24c;
 }
 .tuyenqts .group_box_2 .text_2 {
 text-align: center;
 font-size: 1.5vw;
 font-weight: bold;
 color: #6dd24c;
 }
 .tuyenqts .group_box_2 .text_3{
 margin-top: -6px;
 font-size: 0.5vw;
 }
 .tuyenqts .group_box_2 .text_3 span{
 color: #6dd24c;
 }
 .tuyenqts .group_box_4{
 padding: 30px 10px 5px 10px;
 height: 70px;
 margin-bottom: 6px;
 }
 .tuyenqts .group_box_4 .text_1{
 margin: 0;
 background: #d9e2f4;
 height: 100%;
 padding-top: 10px;
 font-size: 1vw;
 text-align: center;
 font-weight: bold;
 color: #797979;
 overflow-x: hidden;
 }
 .tuyenqts .highcharts-credits, .tuyenqts .highcharts-exporting-group{
 display: none;
 }
 .tuyenqts .title_tuyenqts{
 float: left;
 padding: 15px;
 background: #7cb5ec;
 color: #fff;
 font-size: 20px;
 text-transform: uppercase;
 }
 .tuyenqts .highcharts-legend {
 display: none;
 }



.qts_head_top {
      padding: 20px 0px;
      border-bottom: 1px solid #44aa00;
      margin-bottom: 80px;
  }
  .container-fluid-fix {
      padding: 0px 75px;
  }
  .menu_header_top {
      margin-top: 0.625rem;
  }
  .menu_header_top {
      float: right;
  }
  .menu_header_top li {
    list-style: none;
    float: left;
    padding: 0.3125rem 0.4375rem;
}
  .menu_header_top li a {
    font-size: 14px;
    font-family: OpenSansRegular;
    color: #333;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    transition: all 0.3s linear;
}
.menu_header_top i {
    font-size: 20px;
}
.logo_pc a{
  color: #333333;
}
.logo_pc {
    font-size: 1.5rem;
    color: #333;
    font-weight: bold;
    text-transform: uppercase;
}


.title_tuyenqts {
    float: left;
    padding: 15px;
    background: #7cb5ec;
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
}