body {
    background-color: #252831;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
    overflow: hidden;
}

.floatleft {
    float: left;
}

.content-row {
    background-color: #2E323B;
}

h2 {
    color: #00ADEF;
    font-weight: normal;
    padding: 0.8em;
    text-transform: uppercase;
}

.content-row ul {
    color: azure;
    list-style: none;
    margin-left: 1em;
    padding: 0;
    margin-right: 1em;
}

.content-row ul li {
    border-top: solid 0.1em #2A7498;
    line-height: 3em;
    clear: both;
}

.content-row ul li:first-child {
    border: none;
}

.result-badge {
    float: right;
}

li .fa,li .fas {
    margin-right: 20px;
    color: #01adef;
}

.result-green,
.result-green .fa {
    color: #00FF93;
}

.result-yellow,
.result-yellow .fa {
    color: yellow;
}

.result-warning,
.result-warning .fa {
    color: #F6931E;
}

.result-alert,
.result-alert .fa {
    color: #EB1C24;
}

.rowbig {}

.alert-overlay {
    z-index: 999;
    opacity: 0.7;
    background-color: red;
    position: absolute;
    left: 0;
    top: 0;
    display: none;
}

.content-row .report-full {
    font-size: 10px;
    color: whitesmoke;
    float: right;
    text-transform: none;
    cursor: pointer;
}

.content-row .report-full:hover {
    color: red;
}

.content-row ul {
    height: 489px;
}

.leftcenter {
    color: white;
    position: absolute;
    bottom: 0px;
    left: 0;
}

.leftcenter .bigvalue {
    font-size: 36px
}

.leftcenter p {
    padding: 0;
    margin: 10px;
    margin-left: 24px;
}

.rightcenter {
    color: white;
    position: absolute;
    bottom: 0px;
    right: 0;
    text-align: right;
}

.rightcenter .bigvalue {
    font-size: 36px;
}

.rightcenter p {
    padding: 0;
    margin: 10px;
    margin-left: 24px;
}

.mainscan {
    padding-left: 30px;
    color: white;
    color: paleturquoise;
}

.mainscan td:first-child {
    text-align: left;
    font-weight: bold;
}

.mainscan td {
    margin-left: 50px;
    line-height: 45px;
    text-align: center;
    border-bottom: #2E323B solid 1px;
}

.rowbig {
    background-size: contain;
    background-position: center top;
}

.step2 {
    display: none;
}
